@import "../../assets/sharedscss/form.scss";

.forgotpassword-container {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sucessemail {
  @include formstructure;
  border-color: #008a00;
  color: #008a00;
  font-size: 13px;
  padding: 14px 18px;
  margin-bottom: 20px;
}

.form {
  @include formstructure;
  padding-bottom: 26px;

  p {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 14px;
    color: #111;
  }
}

.form__title {
  @include formTitle;
}

.form-group {
  margin-bottom: 14px;
}

.form__input {
  @include formInput;
}

.form__button {
  @include amazonButton('primary');
  margin-top: 10px;
}